body{
	background-color:LightBlue;
}
            
h1{
	background-color:LawnGreen;
}
            
h2{
	background-color:LightYellow;
}

h3{
	background-color:Brown;
}

h4{
	background-color:DarkCyan;
}
            
ul{
	background-color:Sienna;
}
            
ol{
	background-color:Orchid;
}
            
li{
	font-size:20pxl;
} 

p{
	background-color:Red;
}        

img{
	size:500pxl;
}

